.float_left {
  float: left;
}

.float_right {
  float: right;
}

.no_style {
  list-style-type: none;
}

.center {
  text-align: center;
}

.w_80 {
  width: 80%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header nav .contained {
  background-color: #0282F9;
}
header nav .contained .blueLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .contained .blueLine span {
  margin-left: 50px;
}
header nav .navbar {
  text-transform: uppercase;
  font-weight: bold;
  color: #464F57;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .navbar a img {
  height: 50px;
  width: 50px;
}
header nav .navbar ul {
  display: flex;
  align-items: center;
}
header nav .navbar ul li {
  height: 70px;
  margin: 0 20px;
  line-height: 70px;
}
header nav .navbar ul li.active {
  border-bottom: 3px solid #0282F9;
  color: #0282F9;
}
header nav .search {
  border-bottom: 3px solid #0282F9;
}
header nav .search input {
  width: 80px;
}
header nav .search button {
  background-color: #fff;
}

header .jumbo {
  background-image: url(../img/jumbotron.jpg);
  background-position-y: top;
  background-position-x: center;
  background-size: 100%;
  height: 400px;
}

footer .follow {
  background-color: antiquewhite;
}

footer .info {
  display: flex;
  height: 400px;
  background-image: url(../img/footer-bg.jpg);
  background-position-y: top;
  background-position-x: center;
  background-size: 100%;
}
footer .info .link .contained {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .info .link .contained ul {
  width: 70px;
}
footer .info .link .contained ul li {
  color: lightgrey;
}
footer .info .link .contained ul li h3 {
  color: #fff;
  text-transform: uppercase;
}
footer .info .terms {
  color: lightgray;
}
footer .info .terms a {
  text-decoration: none;
  color: cornflowerblue;
}
footer .info img {
  width: 50%;
  overflow: hidden;
}

footer .merch {
  background-color: greenyellow;
}