.float_left {
  float: left;
}

.float_right {
  float: right;
}

.no_style {
  list-style-type: none;
}

.center {
  text-align: center;
}

.w_80 {
  width: 80%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header nav .contained {
  background-color: #0282F9;
}

header nav .contained .blueLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .contained .blueLine span {
  margin-left: 50px;
}

header nav .navbar {
  text-transform: uppercase;
  font-weight: bold;
  color: #464F57;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .navbar a img {
  height: 50px;
  width: 50px;
}

header nav .navbar ul {
  display: flex;
  align-items: center;
}

header nav .navbar ul li {
  height: 70px;
  margin: 0 20px;
  line-height: 70px;
}

header nav .navbar ul li.active {
  border-bottom: 3px solid #0282F9;
  color: #0282F9;
}

header nav .search {
  border-bottom: 3px solid #0282F9;
}

header nav .search input {
  width: 80px;
}

header nav .search button {
  background-color: #fff;
}

header .jumbo {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position-y: top;
  background-position-x: center;
  background-size: 100%;
  height: 400px;
}

main {
  background-color: #1c1c1c;
}

main .container {
  position: relative;
}

main .container .title {
  background-color: blue;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
  left: -5px;
  transform: translate(0, -50%);
}

main .container .comics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .container .comics .comic {
  margin: 40px 0;
  width: calc(100% / 6);
  padding: 10px;
}

main .container .comics .comic .thumbnail .img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

main .container .comics .comic .thumbnail h4 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

footer .follow {
  background-color: antiquewhite;
}

footer .info {
  display: flex;
  height: 400px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-position-y: top;
  background-position-x: center;
  background-size: 100%;
}

footer .info .link .contained {
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer .info .link .contained ul {
  width: 70px;
}

footer .info .link .contained ul li {
  color: lightgrey;
}

footer .info .link .contained ul li h3 {
  color: #fff;
  text-transform: uppercase;
}

footer .info .terms {
  color: lightgray;
}

footer .info .terms a {
  text-decoration: none;
  color: cornflowerblue;
}

footer .info img {
  width: 50%;
  overflow: hidden;
}

footer .merch {
  background-color: greenyellow;
}

