footer{
	.info{
		display: flex;
		height: 400px;
		background-image: url(../img/footer-bg.jpg);
		background-position-y: top;
		background-position-x: center;
		background-size: 100%;
		.link{
			.contained{
				height: 90%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				
				ul{
					width: 70px;
					li{
						color: lightgrey;
						h3{
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.terms{
			color: lightgray;
			a{
				text-decoration: none;
				color: cornflowerblue;
			}
		}
		img{
			width: 50%;
			overflow: hidden;
		}
	}
}