body{
	box-sizing: content-box;

}
main{
	.picture{
		background-color: #0282f9;
		height: 80px;
		position: relative;
		.thumb{
			img{
				position: absolute;
				bottom: 20px;
				border: 1px solid #fff;
			}
		}
	}
}